/* Estilos para el preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Fondo blanco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px; /* Espacio entre los círculos */
    animation: bounce 1s infinite alternate;
}

    /* Estilos para los colores de los círculos */
    .circle:nth-child(1) {
        background-color: #7FA644;
    }

    .circle:nth-child(2) {
        background-color: #737373;
    }

    .circle:nth-child(3) {
        background-color: #A6BF6F;
    }

    .circle:nth-child(4) {
        background-color: #8C8C8C;
    }

.text-container {
    display: flex;
}

.letter {
    font-size: 24px;
    margin: 0 5px; /* Espacio entre las letras */
    animation: bounce 1s infinite alternate;
}

/* Animación de salto (bounce) */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

