
/****** Object:  Database [SistemaWeb]    Script Date: 10/06/2024 08:42:07 a. m. ******/
CREATE DATABASE [SistemaWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaWeb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaWeb]
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[Id_Departamento] [int] IDENTITY(1,1) NOT NULL,
	[Departamento] [nvarchar](70) NULL,
 CONSTRAINT [PK__Departam__D9F8A9115065B2D0] PRIMARY KEY CLUSTERED 
(
	[Id_Departamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Division]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Division](
	[Id_Division] [int] IDENTITY(1,1) NOT NULL,
	[Division] [nvarchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Division] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_Empleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[ApePaterno] [nvarchar](50) NULL,
	[ApeMaterno] [nvarchar](50) NULL,
	[Tipo] [int] NULL,
	[Division] [int] NULL,
	[Puesto] [int] NULL,
	[Departamento] [int] NULL,
	[Localidad] [int] NULL,
	[Id_Usuario] [int] NULL,
	[Estatus] [int] NULL,
	[Fecha_Alta] [date] NULL,
	[Usuario_Alta] [int] NULL,
	[Fecha_Modifica] [date] NULL,
	[Usuario_Modifica] [int] NULL,
	[Fecha_Baja] [date] NULL,
	[Usuario_Baja] [nchar](10) NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Service_tag] [nvarchar](50) NULL,
	[Modelo] [nvarchar](50) NULL,
	[Tipo_equipo] [nvarchar](50) NULL,
	[Dominio] [nvarchar](50) NULL,
	[Estado] [int] NULL,
	[Resguardo] [int] NULL,
	[Activo_fijo] [nvarchar](50) NULL,
	[Ini_garantia] [datetime] NULL,
	[Fin_garantia] [datetime] NULL,
	[Adquision] [nvarchar](50) NULL,
	[Fecha_adquision] [nvarchar](50) NULL,
	[Marca] [nvarchar](50) NULL,
	[Sistema_operativo] [nvarchar](100) NULL,
	[Procesador] [nvarchar](100) NULL,
	[Office_version] [nvarchar](100) NULL,
	[No_licencia] [nvarchar](100) NULL,
	[SDD_HDD] [nvarchar](50) NULL,
	[Memoria_RAM] [nvarchar](50) NULL,
	[Cable_cargador] [nvarchar](50) NULL,
	[No_pantalla] [nvarchar](50) NULL,
	[Modelo_pantalla] [nvarchar](50) NULL,
	[No_teclado] [nvarchar](50) NULL,
	[Modelo_teclado] [nvarchar](50) NULL,
	[No_mouse] [nvarchar](50) NULL,
	[Modelo_mouse] [nvarchar](50) NULL,
	[Antena] [nvarchar](50) NULL,
	[Disco_externo] [nvarchar](50) NULL,
	[Maletin] [nvarchar](50) NULL,
	[Otros] [nvarchar](50) NULL,
	[Mac_LAN] [nvarchar](50) NULL,
	[Mac_WLAN] [nvarchar](50) NULL,
	[Direccion_IP] [nvarchar](50) NULL,
	[TeamViewer] [nvarchar](50) NULL,
	[AnyDesk] [nvarchar](50) NULL,
	[Responsiva] [int] NULL,
	[Empleado_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Equipo] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[Nombre_de_Equipo] [nvarchar](255) NULL,
	[ST] [nvarchar](255) NULL,
	[Modelo] [nvarchar](255) NULL,
	[TIPO_EQ] [nvarchar](255) NULL,
	[Dominio] [nvarchar](255) NULL,
	[Estado] [nvarchar](255) NULL,
	[Activo_Fijo] [float] NULL,
	[Inicio_Garantia] [datetime] NULL,
	[Fin_Garantía] [datetime] NULL,
	[Adquision] [nvarchar](255) NULL,
	[Fecha_Adquision] [nvarchar](255) NULL,
	[Marca] [nvarchar](255) NULL,
	[Sistema_Operativo] [nvarchar](255) NULL,
	[Procesador] [nvarchar](255) NULL,
	[Office_version] [nvarchar](255) NULL,
	[No_Licencia] [nvarchar](255) NULL,
	[SDD_HDD] [nvarchar](255) NULL,
	[RAM] [nvarchar](255) NULL,
	[Cable_Cargador] [nvarchar](255) NULL,
	[N_ST_Pantalla] [nvarchar](255) NULL,
	[MOD_Pantalla] [nvarchar](255) NULL,
	[Teclado] [nvarchar](255) NULL,
	[Mod_Teclado] [nvarchar](255) NULL,
	[Mouse] [nvarchar](255) NULL,
	[Mod_Mouse] [nvarchar](255) NULL,
	[Antena] [nvarchar](255) NULL,
	[Disco_Externo] [nvarchar](255) NULL,
	[Maletin] [nvarchar](255) NULL,
	[Otros] [nvarchar](255) NULL,
	[MAC_WLAN] [nvarchar](255) NULL,
	[MAC_LAN] [nvarchar](255) NULL,
	[IP_Actual] [nvarchar](255) NULL,
	[TeamViewer] [nvarchar](255) NULL,
	[AnyDesk] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estatus]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estatus](
	[Id_Estatus] [int] IDENTITY(1,1) NOT NULL,
	[Estatus] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[Id_Localidad] [int] IDENTITY(1,1) NOT NULL,
	[Localidad] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Office]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Office](
	[Id_Office] [int] IDENTITY(1,1) NOT NULL,
	[Office] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Procesador]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Procesador](
	[Id_procesador] [int] IDENTITY(1,1) NOT NULL,
	[Procesador] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Puesto]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Puesto](
	[Id_Puesto] [int] IDENTITY(1,1) NOT NULL,
	[Puesto] [nvarchar](70) NULL,
	[Id_Departamento] [int] NULL,
 CONSTRAINT [PK__Puesto__71BE91D3E106A475] PRIMARY KEY CLUSTERED 
(
	[Id_Puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[Id_Ram] [int] IDENTITY(1,1) NOT NULL,
	[Ram] [nvarchar](75) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resguardo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resguardo](
	[Id_Resguardo] [int] IDENTITY(1,1) NOT NULL,
	[Resguardo] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Id_Tipo] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [nvarchar](50) NULL,
	[Contrasena] [nvarchar](200) NULL,
	[Fecha_Creacion] [date] NULL,
	[Estatus] [nvarchar](50) NULL,
	[Fecha_Baja] [date] NULL,
	[Usuario_Alta] [int] NULL,
	[Fecha_Modifica] [date] NULL,
	[Usuario_Modifica] [int] NULL,
	[Usuario_Baja] [int] NULL,
	[Acceso] [int] NULL,
 CONSTRAINT [PK__Usuarios__63C76BE2C9458827] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([Id_Departamento], [Departamento]) VALUES (3, N'Abastecimiento')
INSERT [dbo].[Departamento] ([Id_Departamento], [Departamento]) VALUES (4, N'Abastecimientos Fibrosos')
INSERT [dbo].[Departamento] ([Id_Departamento], [Departamento]) VALUES (5, N'Acabado')
SET IDENTITY_INSERT [dbo].[Departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Division] ON 

INSERT [dbo].[Division] ([Id_Division], [Division]) VALUES (1, N'Papel')
INSERT [dbo].[Division] ([Id_Division], [Division]) VALUES (2, N'Corrugado')
SET IDENTITY_INSERT [dbo].[Division] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [ApePaterno], [ApeMaterno], [Tipo], [Division], [Puesto], [Departamento], [Localidad], [Id_Usuario], [Estatus], [Fecha_Alta], [Usuario_Alta], [Fecha_Modifica], [Usuario_Modifica], [Fecha_Baja], [Usuario_Baja]) VALUES (1, N'Monse', N'Garcia', N'Valdez', 2, 2, 16, 28, 1, 1, 1, NULL, NULL, CAST(N'2024-06-10' AS Date), 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Empleado] OFF


INSERT [dbo].[Estatus] ([Id_Estatus], [Estatus]) VALUES (1, N'En uso')
INSERT [dbo].[Estatus] ([Id_Estatus], [Estatus]) VALUES (2, N'En resguardo')
INSERT [dbo].[Estatus] ([Id_Estatus], [Estatus]) VALUES (3, N'Baja permanente')
SET IDENTITY_INSERT [dbo].[Estatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([Id_Localidad], [Localidad]) VALUES (1, N'Cuernavaca')
SET IDENTITY_INSERT [dbo].[Localidad] OFF
GO
SET IDENTITY_INSERT [dbo].[Office] ON 

INSERT [dbo].[Office] ([Id_Office], [Office]) VALUES (1, N'365 Hogar y Empresas')
INSERT [dbo].[Office] ([Id_Office], [Office]) VALUES (2, N'Office 2010 Hogar y Empresas')
INSERT [dbo].[Office] ([Id_Office], [Office]) VALUES (3, N'Office 2016 Hogar y Empresas')
SET IDENTITY_INSERT [dbo].[Office] OFF
GO
SET IDENTITY_INSERT [dbo].[Procesador] ON 

INSERT [dbo].[Procesador] ([Id_procesador], [Procesador]) VALUES (1, N'10th Intel® Core i5-10400H (4 Core, 2.6GHz, 4.6GHz)')
INSERT [dbo].[Procesador] ([Id_procesador], [Procesador]) VALUES (2, N'10th Intel Core i5-10210U (4 núcleos, 1.6GHz, hasta 4.2GHz)')
INSERT [dbo].[Procesador] ([Id_procesador], [Procesador]) VALUES (3, N'11th Gen Intel® Core™ i3-1115G4 3.00GHz')
SET IDENTITY_INSERT [dbo].[Procesador] OFF
GO
SET IDENTITY_INSERT [dbo].[Puesto] ON 

INSERT [dbo].[Puesto] ([Id_Puesto], [Puesto], [Id_Departamento]) VALUES (1, N'Responsable TIC y Mantenimiento', 28)
INSERT [dbo].[Puesto] ([Id_Puesto], [Puesto], [Id_Departamento]) VALUES (2, N'Supervisor de Instrumentacion', 19)
INSERT [dbo].[Puesto] ([Id_Puesto], [Puesto], [Id_Departamento]) VALUES (3, N'Gerente de Operaciones Corrugado', 20)
GO
SET IDENTITY_INSERT [dbo].[Puesto] OFF
GO
SET IDENTITY_INSERT [dbo].[Ram] ON 

INSERT [dbo].[Ram] ([Id_Ram], [Ram]) VALUES (1, N'16 GB DDR4')
INSERT [dbo].[Ram] ([Id_Ram], [Ram]) VALUES (2, N'16 GB DDR4 (2 x 8 GB)')
INSERT [dbo].[Ram] ([Id_Ram], [Ram]) VALUES (3, N'16 GB LPDDR5 a 4800 MHz')
SET IDENTITY_INSERT [dbo].[Ram] OFF
GO
SET IDENTITY_INSERT [dbo].[Resguardo] ON 

INSERT [dbo].[Resguardo] ([Id_Resguardo], [Resguardo]) VALUES (1, N'Resguardo Backup')
INSERT [dbo].[Resguardo] ([Id_Resguardo], [Resguardo]) VALUES (2, N'Resguardo Venta')
INSERT [dbo].[Resguardo] ([Id_Resguardo], [Resguardo]) VALUES (3, N'Resguardo Reciclon')
SET IDENTITY_INSERT [dbo].[Resguardo] OFF
GO
SET IDENTITY_INSERT [dbo].[Tipo] ON 

INSERT [dbo].[Tipo] ([Id_Tipo], [Tipo]) VALUES (1, N'Practicante')
INSERT [dbo].[Tipo] ([Id_Tipo], [Tipo]) VALUES (2, N'Trabajador')
SET IDENTITY_INSERT [dbo].[Tipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id_Usuario], [Correo], [Contrasena], [Fecha_Creacion], [Estatus], [Fecha_Baja], [Usuario_Alta], [Fecha_Modifica], [Usuario_Modifica], [Usuario_Baja], [Acceso]) VALUES (1, N'MGarcia@socioh.com.mx', N'123456', NULL, N'1', NULL, NULL, CAST(N'2024-06-10' AS Date), 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Puesto]  WITH CHECK ADD  CONSTRAINT [FK_Puesto_Departamento] FOREIGN KEY([Id_Departamento])
REFERENCES [dbo].[Departamento] ([Id_Departamento])
GO
ALTER TABLE [dbo].[Puesto] CHECK CONSTRAINT [FK_Puesto_Departamento]
GO
/****** Object:  StoredProcedure [dbo].[Consulta_Empleado]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Consulta_Empleado]

AS
BEGIN
Select 
	E.Id_Empleado,
	E.Nombre,
	E.ApePaterno,
	E.ApeMaterno,
	T.Tipo,
	V.Division AS Division,
	P.Puesto AS Puesto,
	D1.Departamento AS Departamento,
	L.Localidad as Localidad,
	U.Correo as Usuario,
	E.Estatus,
	U.Acceso,
	Format(E.Fecha_Alta, 'dd/MM/yyyy') as Fecha_Alta,
	E2.Nombre AS UsuarioAlta,
	Format(E.Fecha_Modifica, 'dd/MM/yyyy') as Fecha_Modifica,
	E4.Nombre AS Usuario_Modifica,
	FORMAT(E.Fecha_Baja, 'dd/MM/yyyy') as Fecha_Baja,
	E3.Nombre AS Usuario_Baja,
	U.Acceso
from Empleado E	
		left join Puesto P on E.Puesto=P.Id_Puesto
		left join Departamento D on P.Id_Departamento=D.Id_Departamento
		left join Usuario U on E.Id_Usuario=U.Id_Usuario
		Left join Division V on E.Division=V.Id_Division
		Left join Localidad L on L.Id_Localidad= E.Localidad
		Left join Tipo T on T.Id_Tipo= E.Tipo
LEFT JOIN Empleado E2 ON E2.Id_Usuario = E.Usuario_Alta
LEFT JOIN Empleado E3 ON E3.Id_Usuario = E.Usuario_Baja
LEFT JOIN Empleado E4 ON E4.Id_Usuario = E.Usuario_Modifica
LEFT JOIN Departamento D1 ON D1.Id_Departamento=E.Departamento;
END
GO
/****** Object:  StoredProcedure [dbo].[Consulta_Equipo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Consulta_Equipo]

AS
BEGIN
	 SELECT E.IdEquipo,
       CONCAT(U.Nombre, ' ', U.ApePaterno,' ',U.ApeMaterno) AS Empleado,
       E.Responsiva,
       E.Nombre
FROM equipo E
LEFT JOIN Empleado U ON U.Id_Empleado = E.Empleado_Id;
END
GO
/****** Object:  StoredProcedure [dbo].[Consulta_EquipoBaja]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Consulta_EquipoBaja]
	
AS
BEGIN
	 SELECT E.IdEquipo,
       CONCAT(U.Nombre, ' ', U.ApePaterno,' ',U.ApeMaterno) AS Empleado,
       E.Responsiva,
       E.Nombre
FROM equipo E 
LEFT JOIN Empleado U ON U.Id_Empleado = E.Empleado_Id
where E.Estado=3
END
GO
/****** Object:  StoredProcedure [dbo].[Consulta_Usuarios]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Consulta_Usuarios]
	-- Add the parameters for the stored procedure here

AS
BEGIN
SELECT 
    U.Id_Usuario,
    U.Correo,
    Format(U.Fecha_Creacion, 'dd/MM/yyyy') as Fecha_Creacion,
    U.Estatus,
	FORMAT(U.Fecha_Baja, 'dd/MM/yyyy') as Fecha_Baja,
    E.Nombre as UsuarioAlta,
    E3.Nombre as Usuario_Modifica,
    Format(U.Fecha_Modifica, 'dd/MM/yyyy') as Fecha_Modifica,
    E2.Nombre as Usuario_Baja
FROM 
    Usuario U 
LEFT JOIN 
    Empleado E ON U.Usuario_Alta = E.Id_Usuario
LEFT JOIN 
    Empleado E2 ON U.Usuario_Baja = E2.Id_Usuario
LEFT JOIN 
	Empleado E3 on U.Usuario_Modifica=E3.Id_Usuario
WHERE
	Acceso=1
;
END
GO
/****** Object:  StoredProcedure [dbo].[Editar_Empleados]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Editar_Empleados]
	@Id_Empleado int,
	@Nombre nvarchar(50),
	@Ap_Paterno nvarchar(50),
	@Ap_Materno nvarchar(50),
	@Division int,
	@Puesto int,
	@Departamento int,
	@Localidad int,
	@Estatus int,
	@Usuario_Alta int,
	@Acceso int,
	@Correo nvarchar(50)
AS
BEGIN

				IF @Estatus = 1
				BEGIN
					UPDATE Empleado SET Nombre = @Nombre, ApePaterno = @Ap_Paterno,ApeMaterno = @Ap_Materno,
							Departamento=@Departamento,
							Division=@Division,
							Puesto=@Puesto,
							Localidad=@Localidad,
							Estatus = @Estatus,
							Usuario_Modifica=@Usuario_Alta,
							Fecha_Modifica=GETDATE()
							WHERE Id_Empleado = @Id_Empleado;

					UPDATE Usuario SET
							Acceso=@Acceso
							WHERE Usuario.Id_Usuario= @Id_Empleado;

					UPDATE Usuario SET Correo = @Correo,Usuario_Modifica=@Usuario_Alta,Fecha_Modifica=GETDATE()  WHERE Id_Usuario = @Id_Empleado;
				END
				ELSE
				BEGIN
					 UPDATE Empleado SET Nombre = @Nombre, ApePaterno = @Ap_Paterno,ApeMaterno = @Ap_Materno,
							Departamento=@Departamento,
							Division=@Division,
							Puesto=@Puesto,
							Localidad=@Localidad,
							Estatus = @Estatus,
							Usuario_Baja=@Usuario_Alta,
							Fecha_Baja=GETDATE() 
							WHERE Id_Empleado = @Id_Empleado;

					UPDATE Usuario SET
							Acceso=@Acceso
							WHERE Usuario.Id_Usuario= @Id_Empleado;

					UPDATE Usuario SET Correo = @Correo,Usuario_Modifica=@Usuario_Alta,Fecha_Modifica=GETDATE() WHERE Id_Usuario = @Id_Empleado;
				END 
	
END
GO
/****** Object:  StoredProcedure [dbo].[Editar_Equipos]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Editar_Equipos]
	@Responsiva nvarchar(10),
	@Empleado int= null,
	@Id_Equipo int,
	@Nombre NVARCHAR(50),
	@Service_tag NVARCHAR(50),
	@Modelo NVARCHAR(50),
	@Tipo_equipo NVARCHAR(50),
	@Dominio NVARCHAR(50),
	@Estado NVARCHAR(50),
	@Resguardo nvarchar(10),
	@Activo_fijo NVARCHAR(50),
	@Inicio_garantia date,
	@Fin_garantia date,
	@Fecha_adquision NVARCHAR(50),
	@Marca NVARCHAR(50),
	@Sistema_operativo NVARCHAR(100),
	@Procesador NVARCHAR(100),
	@Office_version NVARCHAR(100),
	@No_licencia NVARCHAR(100),
	@SDD_HDD NVARCHAR(50),
	@Memoria_RAM NVARCHAR(50),
	@Cable_cargador NVARCHAR(50),
	@No_pantalla NVARCHAR(50),
	@Modelo_pantalla NVARCHAR(50),
	@No_teclado NVARCHAR(50),
	@Modelo_teclado NVARCHAR(50),
	@No_mouse NVARCHAR(50),
	@Modelo_mouse NVARCHAR(50),
	@Antena NVARCHAR(50),
	@Disco_externo NVARCHAR(50),
	@Maletin NVARCHAR(50),
	@Otros NVARCHAR(50),
	@Mac_LAN NVARCHAR(50),
	@Mac_WLAN NVARCHAR(50),
	@Direccion_IP NVARCHAR(50),
	@TeamViewer NVARCHAR(50),
	@AnyDesk NVARCHAR(50)
AS
BEGIN
UPDATE Equipo
SET 
    Empleado_Id = @Empleado,
    Nombre = @Nombre,
    Service_tag = @Service_tag,
    Modelo = @Modelo,
    Tipo_equipo = @Tipo_equipo,
    Dominio = @Dominio,
    Estado = @Estado,
    Resguardo = @Resguardo,
    Activo_fijo = @Activo_fijo,
    Ini_garantia = @Inicio_garantia,
    Fin_garantia = @Fin_garantia,
    Fecha_adquision = @Fecha_adquision,
    Marca = @Marca,
    Sistema_operativo = @Sistema_operativo,
    Procesador = @Procesador,
    Office_version = @Office_version,
    No_licencia = @No_licencia,
    SDD_HDD = @SDD_HDD,
    Memoria_RAM = @Memoria_RAM,
    Cable_cargador = @Cable_cargador,
    No_pantalla = @No_pantalla,
    Modelo_pantalla = @Modelo_pantalla,
    No_teclado = @No_teclado,
    Modelo_teclado = @Modelo_teclado,
    No_mouse = @No_mouse,
    Modelo_mouse = @Modelo_mouse,
    Antena = @Antena,
    Disco_externo = @Disco_externo,
    Maletin = @Maletin,
    Otros = @Otros,
    Mac_LAN = @Mac_LAN,
    Mac_WLAN = @Mac_WLAN,
    Direccion_IP = @Direccion_IP,
    TeamViewer = @TeamViewer,
    AnyDesk = @AnyDesk
WHERE IdEquipo = @Id_Equipo;
END
GO
/****** Object:  StoredProcedure [dbo].[Editar_Usuarios]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Editar_Usuarios] 
@Id_Usuario int,
@Correo nvarchar(50),
@Contrasena nvarchar(100),
@Estatus int,
@Usuario_Alta int
AS
BEGIN
IF NOT EXISTS(SELECT Correo FROM Usuario WHERE Correo = @Correo AND Id_Usuario != @Id_Usuario)
BEGIN
    IF @Estatus = 1
    BEGIN
        UPDATE Usuario SET Correo = @Correo, Contrasena = @Contrasena, Estatus = @Estatus,Usuario_Modifica=@Usuario_Alta,Fecha_Modifica=GETDATE() WHERE Id_Usuario = @Id_Usuario;
    END
    ELSE
    BEGIN
        UPDATE Usuario SET Correo = @Correo, Contrasena = @Contrasena, Estatus = @Estatus, Fecha_Baja = GETDATE(),Usuario_Baja=@Usuario_Alta WHERE Id_Usuario = @Id_Usuario;
    END 
END

END
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Empleado]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insertar_Empleado] 
	@Nombre NVARCHAR(50),
    @ApeMaterno NVARCHAR(50),
    @ApePaterno NVARCHAR(50),
	@Tipo NVARCHAR(50),
    @Division NVARCHAR(50),
    @Puesto NVARCHAR(50),
    @Departamento NVARCHAR(50),
    @Localidad NVARCHAR(50),
    @Usuario_Alta INT,
    @Estatus INT,
	@Acceso INT
AS
BEGIN
	DECLARE @IdInsertado INT;
	DECLARE @PrimerNombre NVARCHAR(50);
	DECLARE @AnoActual INT;

		INSERT INTO Empleado (Nombre, ApePaterno, ApeMaterno, Tipo, Division, Puesto, Departamento, Localidad, Fecha_Alta, Usuario_Alta, Estatus)
		VALUES (@Nombre, @ApePaterno, @ApeMaterno, @Tipo, @Division, @Puesto, @Departamento, @Localidad, GETDATE(), @Usuario_Alta, @Estatus);

		SET @AnoActual = YEAR(GETDATE());
		SET @IdInsertado = SCOPE_IDENTITY();

		IF @@ROWCOUNT > 0
		BEGIN
			SET @PrimerNombre = CASE
									WHEN CHARINDEX(' ', @Nombre) > 0
										THEN SUBSTRING(@Nombre, 1, CHARINDEX(' ', @Nombre) - 1)
									ELSE
										@Nombre
								END;

			IF @Tipo = 2
			BEGIN
				INSERT INTO Usuario (Correo, Contrasena, Fecha_Creacion, Usuario_Alta, Estatus,Acceso)
				VALUES ((LEFT(@Nombre, 1) + @ApePaterno + '@socio.com.mx'), (@PrimerNombre + '.' + @ApePaterno + CAST(@AnoActual AS NVARCHAR(4))), GETDATE(), @Usuario_Alta, '1',@Acceso);
			END
			ELSE IF @Tipo = 1
			BEGIN
				INSERT INTO Usuario (Correo, Contrasena, Fecha_Creacion, Usuario_Alta, Estatus,Acceso)
				VALUES (( 'practicante'+ @ApePaterno + '@socio.com.mx'), (@PrimerNombre + '.' + @ApePaterno + CAST(@AnoActual AS NVARCHAR(4))), GETDATE(), @Usuario_Alta, '1',@Acceso);
			END;

			DECLARE @IdUsuario INT;
			SET @IdUsuario = SCOPE_IDENTITY();

			UPDATE Empleado
			SET Id_Usuario = @IdUsuario
			WHERE Id_Empleado = @IdInsertado;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Equipo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insertar_Equipo]
	@Nombre NVARCHAR(50),
	@Service_tag NVARCHAR(50),
	@Modelo NVARCHAR(50),
	@Tipo_equipo NVARCHAR(50),
	@Dominio NVARCHAR(50),
	@Estado NVARCHAR(50),
	@Resguardo nvarchar(10),
	@Activo_fijo NVARCHAR(50),
	@Inicio_garantia date,
	@Fin_garantia date,
	@Fecha_adquision NVARCHAR(50),
	@Marca NVARCHAR(50),
	@Sistema_operativo NVARCHAR(100),
	@Procesador NVARCHAR(100),
	@Office_version NVARCHAR(100),
	@No_licencia NVARCHAR(100),
	@SDD_HDD NVARCHAR(50),
	@Memoria_RAM NVARCHAR(50),
	@Cable_cargador NVARCHAR(50),
	@No_pantalla NVARCHAR(50),
	@Modelo_pantalla NVARCHAR(50),
	@No_teclado NVARCHAR(50),
	@Modelo_teclado NVARCHAR(50),
	@No_mouse NVARCHAR(50),
	@Modelo_mouse NVARCHAR(50),
	@Antena NVARCHAR(50),
	@Disco_externo NVARCHAR(50),
	@Maletin NVARCHAR(50),
	@Otros NVARCHAR(50),
	@Mac_LAN NVARCHAR(50),
	@Mac_WLAN NVARCHAR(50),
	@Direccion_IP NVARCHAR(50),
	@TeamViewer NVARCHAR(50),
	@AnyDesk NVARCHAR(50)
AS
BEGIN

DECLARE @MaxResponsiva INT;

-- Obtener el máximo valor de Responsiva
SELECT @MaxResponsiva = COALESCE(MAX(CAST(Responsiva AS INT)), 0) FROM Equipo;


	INSERT INTO Equipo (
		Nombre, 
		Service_tag, 
		Modelo, 
		Tipo_equipo,
		Dominio, 
		Estado,
		Activo_fijo, 
		Ini_garantia,
		Fin_garantia, 
		Fecha_adquision, 
		Marca, 
		Sistema_operativo, 
		Procesador, 
		Office_version, 
		No_licencia, 
		SDD_HDD, 
		Memoria_RAM, 
		Cable_cargador, 
		No_pantalla,
		Modelo_pantalla,
		No_teclado, 
		Modelo_teclado, 
		No_mouse,
		Modelo_mouse, 
		Antena, 
		Disco_externo,
		Maletin, 
		Otros,
		Mac_LAN, 
		Mac_WLAN, 
		Direccion_IP,
		TeamViewer, 
		AnyDesk,
		Resguardo,
		Responsiva,
		Empleado_Id)
	VALUES (
		@Nombre,
		@Service_tag,
		@Modelo,
		@Tipo_equipo,
		@Dominio,
		@Estado,
		@Activo_fijo,
		@Inicio_garantia,
		@Fin_garantia,
		@Fecha_adquision,
		@Marca,
		@Sistema_operativo,
		@Procesador,
		@Office_version,
		@No_licencia,
		@SDD_HDD,
		@Memoria_RAM,
		@Cable_cargador,
		@No_pantalla,
		@Modelo_pantalla,
		@No_teclado,
		@Modelo_teclado,
		@No_mouse,
		@Modelo_mouse,
		@Antena,
		@Disco_externo,
		@Maletin,
		@Otros,
		@Mac_LAN,
		@Mac_WLAN,
		@Direccion_IP,
		@TeamViewer,
		@AnyDesk,
		@Resguardo,
		 CAST(@MaxResponsiva + 1 AS NVARCHAR(10)),
		(Select Id_Empleado from Empleado WHERE Puesto =1)
		);


END
GO
/****** Object:  StoredProcedure [dbo].[Insertar_Usuario]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Insertar_Usuario](
@Correo nvarchar(50),
@Contrasena nvarchar(50),
@Estatus int,
@Registrado bit output,
@Mensaje varchar(100) output
)
AS
BEGIN

	IF(NOT EXISTS(SELECT * FROM Usuario WHERE Correo=@Correo))
	BEGIN
		INSERT INTO Usuario(Correo,Contrasena,Fecha_Creacion,Estatus) values(@Correo,@Contrasena,SYSDATETIME(),@Estatus);
		SET @Registrado=1;
		SET @Mensaje= 'USUARIO REGITRADO';
	END
	ELSE
	BEGIN
		SET @Registrado=0;
		SET @Mensaje='USUARIO EXISTENTE';
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[Obten_Empleado]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obten_Empleado]
@Id_Empleado int
AS
BEGIN
	Select 
		E.Id_Empleado,
		E.Nombre,
		E.ApePaterno,
		E.ApeMaterno,
		E.Tipo,
		E.Division,
		E.Puesto,
		E.Departamento,
		E.Localidad,
		E.Id_Usuario,
		E.Estatus,
		U.Acceso,
		U.Correo
	from Empleado E 
	LEFT JOIN  Usuario U ON E.Id_Usuario=U.Id_Usuario
	where Id_Empleado=@Id_Empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[Obten_Equipo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obten_Equipo]
	@Id_Equipo int
AS
BEGIN
	
	SELECT
		E.IdEquipo,
		E.Nombre,
		E.Responsiva,
		E.Service_tag,
		E.Modelo,
		E.Tipo_equipo,
		E.Dominio,
		O.Estatus,
		R.Resguardo,
		E.Activo_fijo,
		CONVERT(varchar(10), E.Ini_garantia, 23) AS Ini_garantia,
		CONVERT(varchar(10), E.Fin_garantia, 23) AS Fin_garantia,
		E.Adquision,
		CONVERT(varchar(10), E.Fecha_adquision, 23) AS Fecha_adquision,
		E.Marca,
		E.Sistema_operativo,
		E.Procesador,
		E.Office_version,
		E.No_licencia,
		E.SDD_HDD,
		E.Memoria_RAM,
		E.Cable_cargador,
		E.No_pantalla,
		E.Modelo_pantalla,
		E.No_teclado,
		E.Modelo_teclado,
		E.No_mouse,
		E.Modelo_mouse,
		E.Antena,
		E.Disco_externo,
		E.Maletin,
		E.Otros,
		E.Mac_LAN,
		E.Mac_WLAN,
		E.Direccion_IP,
		E.TeamViewer,
		E.AnyDesk,
		E.Responsiva,
		CONCAT(U.Nombre, ' ', U.ApePaterno,' ',U.ApeMaterno) AS Empleado

	FROM
		Equipo E
	LEFT JOIN Empleado U ON U.Id_Empleado = E.Empleado_Id
	LEFT JOIN Estatus O ON O.Id_Estatus=E.Estado
	LEFT JOIN Resguardo R ON R.Id_Resguardo=E.Resguardo
	where IdEquipo=@Id_Equipo;


END
GO
/****** Object:  StoredProcedure [dbo].[Obten_Equipo2]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obten_Equipo2]
	@Id_Equipo int
AS
BEGIN
	SELECT
		E.IdEquipo,
		E.Nombre,
		E.Responsiva,
		E.Service_tag,
		E.Modelo,
		E.Tipo_equipo,
		E.Dominio,
		E.Estado as Estatus,
		E.Resguardo,
		E.Activo_fijo,
		CONVERT(varchar(10), E.Ini_garantia, 23) AS Ini_garantia,
		CONVERT(varchar(10), E.Fin_garantia, 23) AS Fin_garantia,
		E.Adquision,
		CONVERT(varchar(10), E.Fecha_adquision, 23) AS Fecha_adquision,
		E.Marca,
		E.Sistema_operativo,
		E.Procesador,
		E.Office_version,
		E.No_licencia,
		E.SDD_HDD,
		E.Memoria_RAM,
		E.Cable_cargador,
		E.No_pantalla,
		E.Modelo_pantalla,
		E.No_teclado,
		E.Modelo_teclado,
		E.No_mouse,
		E.Modelo_mouse,
		E.Antena,
		E.Disco_externo,
		E.Maletin,
		E.Otros,
		E.Mac_LAN,
		E.Mac_WLAN,
		E.Direccion_IP,
		E.TeamViewer,
		E.AnyDesk,
		E.Responsiva,
		E.Empleado_Id as Empleado

	FROM
		Equipo E
	LEFT JOIN Empleado U ON U.Id_Empleado = E.Empleado_Id
	where IdEquipo=@Id_Equipo;
END
GO
/****** Object:  StoredProcedure [dbo].[Obten_Usuarios]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obten_Usuarios]
	@Id_Usuario int
AS
BEGIN
	Select * from Usuario where Id_Usuario=@Id_Usuario;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Departamento]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Departamento]

AS
BEGIN
	Select * from Departamento;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Division]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Division]

AS
BEGIN
Select * from Division;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Empleado_Select]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Empleado_Select]
	
AS
BEGIN
	SELECT
		 Id_Empleado,
		 CONCAT(Nombre, ' ', ApePaterno,' ',ApeMaterno) AS Empleado
	FROM
		Empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Estatus]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Estatus]
	
AS
BEGIN
	SELECT * FROM Estatus;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Localidades]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Localidades]

AS
BEGIN
Select * from Localidad;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Office]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Office]
	
AS
BEGIN
	SELECT * FROM Office;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Procesadores]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Procesadores]
	
AS
BEGIN
	SELECT * FROM Procesador;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Puesto]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Puesto] 

AS
BEGIN
Select * from Puesto;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Ram]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Ram]
	
AS
BEGIN
	SELECT * FROM Ram;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Resguardo]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Resguardo] 

AS
BEGIN
	SELECT * FROM Resguardo;
END
GO
/****** Object:  StoredProcedure [dbo].[Obtener_Tipos]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Obtener_Tipos]

AS
BEGIN
	SELECT * FROM Tipo;
END
GO
/****** Object:  StoredProcedure [dbo].[Validar_Usuario]    Script Date: 10/06/2024 08:42:08 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		BAMM
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Validar_Usuario](
@Correo nvarchar(50),
@Contrasena nvarchar(50)

)
AS
BEGIN

-- SELECT * FROM Usuarios WHERE Correo=@Usuario and CONVERT(varchar(50),DECRYPTBYPASSPHRASE(@Patron,Contraseña))=@Contrasena;
IF (EXISTS (SELECT * FROM  Usuario WHERE Correo=@Correo and Contrasena=@Contrasena))
	SELECT Id_Usuario from Usuario where Correo=@Correo and Contrasena=@Contrasena;
ELSE
	SELECT '0';
END
GO
USE [master]
GO
